<ion-header>
 
  <!--<link rel="stylesheet" href="https://cdn.jsdelivr.net/foundation/5.5.3/css/foundation.min.css" type="text/css" />-->
  <ion-toolbar>
    <ion-title>action-thing</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item *ngFor="let actions of actionList">
            <ion-button color="primary" class="ion-margin"(click)="showSchemaEditor(actions,currentThing)" >{{actions}}
              
            </ion-button>
          
          </ion-item>
        </ion-list>

      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="row">
          <div class="medium-6 columns small-offset-3">
            <div id="editor_holder">
            </div>
          </div>
        </div>
        <ion-button *ngIf="hideButton" color="primary" class="ion-margin"(click)="invoke(editor,actualAction,currentThing)" >INVOKE</ion-button>
      </ion-col>
    </ion-row>
    

</ion-content>
