<ion-header>
  <ion-toolbar>
    <ion-title>{{sensorName}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-list>
          <ion-item  [routerLink]="['/','list-sensor','sensor-detail',sensorName,'action-thing']" detail>
            <ion-label>
              <h2>Action</h2>
            </ion-label>    
          </ion-item>
          <ion-item  [routerLink]="['/','list-sensor','sensor-detail',sensorName,'event-thing']" detail>
            <ion-label>
              <h2>Event</h2>
            </ion-label>    
          </ion-item>
      
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-sm="6" offset-sm="3">
        <ion-list>
          <ion-item *ngFor="let properties of propertiesList">
            <ion-button color="primary" class="ion-margin" (click)="popup=true;onClickProp(properties)">{{properties}}
              
            </ion-button>
          
          </ion-item>
        </ion-list>
        <div class="overlay" *ngIf="popup">
          <div class="popup">
              <h2>Sensor result</h2>
              <a class="close" (click)="popup = false">&times;</a>
              <div class="content">
                {{value}}
              </div>
          </div>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
