<ion-header>
</ion-header>
<ion-content class="cnt">
<ion-grid >
  <ion-row>
  <ion-col size-sm="6" offset-sm="3">
    <h1>Welcome, please select the source of sensor data</h1>
    <ion-select [(ngModel)]=option (ionChange)="selectSource($event)" placeholder="Select One" class="selectsource">
      <ion-select-option>https://api.modron.network/graphql</ion-select-option>
    </ion-select>
  </ion-col>
</ion-row>
<form #f="ngForm" (ngSubmit)="onSubmit(f)">
<ion-row [hidden]=ishidden>
  <ion-col size-sm="6" offset-sm="3">
    <h2>Please log in</h2>
    <ion-list>
      <ion-item>
        <ion-label position="floating">E-Mail</ion-label>
        <ion-input type="email" ngModel name="mail" required  #emailCrtl="ngModel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Password</ion-label>
        <ion-input type="password" ngModel name="password" required #passwordCtrl="ngModel"></ion-input>
      </ion-item>
    </ion-list>
  </ion-col>
</ion-row>
<ion-row [hidden]=ishidden>
  <ion-col size-md="6" offset-md="3">
<ion-button type="submit"color="primary" expand="block" [disabled]="!f.valid">Login</ion-button>
  </ion-col>
</ion-row>
</form>
</ion-grid>

</ion-content>
