<ion-header>
  <ion-toolbar>
    <ion-title>Write Property</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row>
    <ion-col>
      <ion-item>
        <ion-label>Insert value</ion-label>
        <ion-input [(ngModel)]="valueEntered" placeholder="Enter Value"></ion-input>
      </ion-item>
      <ion-button  color="primary" class="ion-margin" (click)="writeProp()">Write Property</ion-button>
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
