<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sensor Graph</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list >
    <ion-list-header>
      Select values
    </ion-list-header>
  
    <ion-item >
      <ion-label>Name</ion-label>
      <ion-select [(ngModel)]="selected" (ionChange)="loadProperties(selected)" placeholder="Select One" >
        <ion-select-option *ngFor="let sensor of sensorList"> {{sensor.titolo}}</ion-select-option>
      </ion-select>
    </ion-item>
 <ion-item >
      <ion-label>Properties</ion-label>
      <ion-select [(ngModel)]="selectedProp"  placeholder="Select One">
        <ion-select-option *ngFor="let property of properties">{{property}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Date Start</ion-label>
      <ion-datetime [(ngModel)]="selectedDateStart" displayFormat="DD MM YY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label>Date To</ion-label>
      <ion-datetime [(ngModel)]="selectedDateTo" (ionChange)="getDataset()" displayFormat="DD MM YY" placeholder="Select Date"></ion-datetime>
    </ion-item>
    <ion-button  color="primary" class="ion-margin" (click)="cleanSelection()">Clean</ion-button>
  
  </ion-list>
  <ion-list-header color="light"></ion-list-header>
  <ion-card class="welcome-card">
    <ion-card-header>
      <ion-card-title>Sensor's result line chart</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #lineChart></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>