<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Sensor list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cnt" [fullscreen]="true">
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/','list-sensor','sensorgraph']">
      <ion-icon name="stats-chart-outline"></ion-icon>
    </ion-fab-button>  
    
    </ion-fab>
<ion-grid>
  <ion-row>
    <ion-col size="12" size-sm="8" offset-sm="2" class="ion-text-center">
      <ion-list>
        <ion-item *ngFor="let detail of listaSensori"  [routerLink]="['/','list-sensor','sensor-detail',detail.titolo]" detail>
          <ion-label>
            <h2>{{detail.titolo}}</h2>
            <p>{{detail.descrizione}}</p>
            <p>{{detail.url}}</p>
          </ion-label>
        
        </ion-item>
      </ion-list>
      

    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
