<ion-header>
  <ion-toolbar>
    <ion-title>event-thing</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let events of eventList;let i = index">
      <ion-label>{{events}}</ion-label>
  <ion-toggle [(ngModel)]="toggleState[i]" (ionChange)="eventToggle(toggleState[i],events)"></ion-toggle>
</ion-item>
</ion-list>
</ion-content>
